<p>flipkartstore works!</p>

<div class="parent">

    
    <div class="child" *ngFor="let rahul of rohit">

        <div class="n1">
            <img src="{{rahul.image}}" alt="" width="270px" height="270px">
        </div>
      
    
        <div class="n2">
            <h4>{{rahul.category}}</h4>
        </div>
        <div class="n3">
            <h4>{{rahul.title}}</h4>
        </div>
        <div class="n4">
            <label for="">Rs.</label>
            {{rahul.price}}
        </div>
        <div class="n5">{{rahul.rate}}</div>
    </div>
    
  
    
</div>