


<div class="parent">

    <div class="child1">
        <h1>my website</h1>
        <hr>
        <a routerLink="home">home</a>
        <a routerLink="welcome">welcome</a>
        <a routerLink="data-binding">data binding</a>
        <a routerLink="calculator">calculator</a>
        <a routerLink="rectangle">rectangle</a>
        <a routerLink="circle">circle</a>
        <a routerLink="bmi">bmi</a>
        <a routerLink="rolldice">rolldice</a>
        <a routerLink="directive-pipes">directive-pipes</a>
        <a routerLink="employees">employees</a>
        <a routerLink="flipkart">flipkart</a>
        <a routerLink="vechile">vechiles</a>
        <a routerLink="banking">bank accounts</a>
        <a routerLink="flipkartstore">flipkart store</a>
        <a routerLink="mail">mail</a>
        <a routerLink="create-vechile">create-vechile</a>
        <a routerLink="create-bank">create-bank</a>
        <a routerLink="student">student card</a>
        <a routerLink="createstudent-form">create student-form</a>
        <a routerLink="photo-gallery">photo-gallery</a>
        <hr>
        <button (click)="logout()">logout</button>
    </div>
    <div class="child2">
  <router-outlet></router-outlet>
    </div>
</div>
